<div ng-controller="ChapterTwoController as chapter2">
    <div class="jumbotron text-center">
        <h1>{{chapter2.chapterTitle}}</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hide and Show</h5>
                        <button class="btn btn-default" ng-click="chapter2.hideAndShow()">{{chapter2.status}}</button>
                        <label class="card-text" ng-show="chapter2.show">Showing some text!</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Classes and Styles</h5>
                        <div ng-class="{error: chapter2.isError, warning: chapter2.isWarning}">{{chapter2.message}}</div>
                        <button ng-click="chapter2.showError()">Simulate error</button>
                        <button ng-click="chapter2.showWarning()">Simulate warning</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Column 3</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>