<div ng-controller="ChapterTwoController as chapter2">
    <div class="jumbotron text-center">
        <h1>{{chapter2.chapterTitle}}</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hide and Show</h5>
                        <button class="btn btn-default" ng-click="chapter2.hideAndShow()">{{chapter2.status}}</button>
                        <label class="card-text" ng-show="chapter2.show">Showing some text!</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Classes and Styles</h5>
                        <section>
                            <h6 class="card-title">Showing/Hiding</h6>
                            <div ng-class="{error: chapter2.isError, warning: chapter2.isWarning}">{{chapter2.message}}</div>
                            <button ng-click="chapter2.showError()">Simulate error</button>
                            <button ng-click="chapter2.showWarning()">Simulate warning</button>
                        </section>
                        <section>
                            <h6 class="card-title">Table</h6>
                            <table>
                                <tr ng-repeat="restaurant in chapter2.restaurants" ng-click="chapter2.selectRestaurant($index)" ng-class="{selected: $index==chapter2.selectedRestaurant}">
                                    <td>{{restaurant.name}}</td>
                                    <td>{{restaurant.cuisine}}</td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">Watchers</h5>
                            <section>
                                <h6 class="card-title">Shopping cart</h6>
                                <div ng-repeat="item in chapter2.items">
                                    <span>{{item.title}}</span>
                                    <input ng-model="item.quantity">
                                    <span>{{item.price | currency}}</span>
                                    <span>{{item.price * item.quantity | currency}}</span>
                                </div>
                                <div>Total: {{chapter2.totalCart() | currency}}</div>
                                <div>Discount: {{chapter2.bill.discount | currency}}</div>
                                <div>Total: {{chapter2.subtotal() | currency}}</div>
                            </section>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>